.formdData {
  display: flex;
  justify-content: space-between;
}
#inside {
  display: flex;
  justify-content: space-between;
  margin-left: 245px;
}
.aTag {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  position: relative;
  top: 7px;
  left: 0px;
}
.aTAg2 {
  cursor: pointer;
  position: relative;
  left: 156px;
}
#activityAdd {
  position: relative;
  left: 20px;
}
.first {
  margin: 30px 0;
}

form {
  width: 82%;
  margin-left: 238px;
  font-size: small;
  padding: 10px;
  box-shadow: -1px 0px 19px 5px grey;
}
.addBtn {
  border: 1px solid gray;
}
