.formdData {
  display: flex;
  justify-content: space-between;
}
#inside {
  margin: auto;
  width: 50%;
}
.aTag {
  text-decoration: none;
}
.icons {
  position: relative;
  top: 7px;
  left: 0px;
}
.aTAg2 {
  position: relative;
  left: 156px;
}
#activityAdd {
  position: relative;
  left: 20px;
}
.first {
  margin: 30px 0;
}
