<!-- {{forms.value | json}} -->

<form [formGroup]="forms">
    <a class="aTag" (click)="getShow()" *ngIf="show"><span class="material-icons icons">keyboard_arrow_down</span>
        AllData
    </a>
    <a class="aTag" (click)="getShow()" *ngIf="!show"><mat-icon class="icons">keyboard_arrow_right</mat-icon>All Data
    </a>

    <button (click)="addActivity()" id="activityAdd">+</button>

    <div class="allActivityData" *ngIf="show">
        <div class="first" *ngFor="let data of getAcrivityControl let i=index" formArrayName="Activity">
            <div class="formdData">
                <div class="activity">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Enter Activity Name" [formControlName]="i">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="AddTaskControl()">+</button>
                </div>
                <div class="dateDiv">
                    <mat-form-field>
                        <mat-label>Choose a End Date</mat-label>
                        <input matInput [matDatepicker]="picker1" [formControlName]="i">
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Choose a End Date</mat-label>
                        <input matInput [matDatepicker]="picker2" [formControlName]="i">
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <!-- !InsideData -->
            <a class="aTag aTAg2" (click)="getTask()" *ngIf="showTask"><span
                    class="material-icons icons">keyboard_arrow_down</span>
                Task
            </a>
            <a class="aTag aTAg2" (click)="getTask()" *ngIf="!showTask"><mat-icon
                    class="icons">keyboard_arrow_right</mat-icon>Task
            </a>

            <div class="insideData" *ngIf="showTask">
                <div class="formdData" *ngFor="let data of getTaskControl let j = index" id="inside">
                    <div class="activity">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Enter Task Name" [formControlName]="j">
                        </mat-form-field>
                        <!-- <button mat-raised-button color="primary" (click)="AddTaskControl()">+</button> -->
                    </div>
                    <div class="dateDiv">
                        <mat-form-field>
                            <mat-label>Choose a End Date</mat-label>
                            <input matInput [matDatepicker]="picker1" [formControlName]="j">
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Choose a End Date</mat-label>
                            <input matInput [matDatepicker]="picker2" [formControlName]="j">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>