<!-- <button (click)="login()">Login</button> -->

<div class="login" *ngIf="!user">
    <div class="inside">
        <div class="borders">
            <asl-google-signin-button></asl-google-signin-button>
            <strong>Sign in with Google</strong>
        </div>
        <div class="borders" id="facebook" (click)="signInWithFB()">
            <img [src]="facebookLogo" class="mx-2" alt="" width=" 30px" height="30px">
            <strong>Sign in with Facebok</strong>
        </div>
    </div>
</div>

<app-header *ngIf="user" [userInfo]="user"></app-header>
<router-outlet></router-outlet>